h1 {
  color: white;
  background-color: red;
  border-radius: 20px;
  text-align: center;
}

p {
  text-align: center;
  font-style: italic;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  background: red;
  border-radius: 20px;
}

body {
  background-color: royalblue;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.img2 {
  width: 55px;
  border-radius: 30px;
  margin-left: 143px;
}
